/*Váriaveis de cores*/
:root {
    --cor-principal: #080F24;
    --cor-secundaria: #1E3A8A;
    --cor-terciaria: #1F74FF;
    --cor-quartenaria: #595959;
    --cor-negrito: black;
    --cor-destaque: white;
}

/*Configurações da Página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--cor-secundaria), var(--cor-principal));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Clases de uso Geral*/
.esp-lat-ext {
    margin-left: 125px;
    margin-right: 100px;
}

.mar-top10 {
    margin-top: 10px;
}

.mar-bott10 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/*Corpo do Site*/
main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 90%;
    width: 85%;
    border-radius: 8px;
    overflow: hidden;
}

/*Tela do Faq*/
.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px;
    width: 100%;
    height: 100%;
    gap: 120px;
    z-index: 2;
}

/* Container de Perguntas do FAQ */
.faq .info .perguntas {
    width: 90%;
    height: 100%;
}

/* Título FAQ */
.perguntas h1 {
    border-bottom: 2px solid var(--cor-terciaria);
    width: fit-content;
    margin-bottom: 20px;
    font-size: 2.5pc;
    font-family: Arial, Helvetica, sans-serif;
}

/* Imagem do FAQ */
.faq .info img {
    width: 45%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 0;
}

/* Perguntas */
.separador {
    height: 50%;
    overflow-y: scroll;
}
summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.2pc;
    margin-bottom: 14px;
    margin-top: 14px;
    margin-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
details p {
    font-size: 1pc;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

/* Símbolo + depois do texto quando fechado */
summary::after {
    content: " +";
    margin-left: 0.5em;
}

/* Símbolo - depois do texto quando aberto */
details[open]>summary::after {
    content: " -";
    margin-right: 3px;
}

/* Setas */
.setas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    background: none;
}
.setas a i {
    margin-top: 3px;
}

/* botões circulares */
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(to right, var(--cor-secundaria), var(--cor-terciaria));
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq img {
    border-radius: 100%;
}

.logo {
    position: absolute;
    transform: translateX(-50%);
    width: 120px;
    z-index: 2;
    top: 76%;
    right: 72%;
}

.wave {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 120%;
    z-index: 1;
}

.wave-text {
    position: absolute;
    bottom: 25px;
    right: 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
    pointer-events: none;
}

/*Menu Navegação Lateral*/
nav.menu-lateral {
    width: 72px;
    height: 100vh;
    background-color: var(--cor-terciaria);
    padding: 30px 0 30px;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .6s;
}

nav.menu-lateral.expandir {
    width: 250px;
}

nav.menu-lateral .btn-expandir {
    width: 100%;
}

nav.menu-lateral .linhas {
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    transition: .5s;
}

nav.menu-lateral .linhas>.linha-1,
.linha-2,
.linha-3 {
    background-color: var(--cor-negrito);
    width: 25px;
    height: 2px;
    transition: .5s;
}

nav.menu-lateral .linhas.ativo {
    padding-left: 10px;
}

nav.menu-lateral .linhas.ativo>.linha-1 {
    transform: rotate(45deg) translate(30%);
    width: 35px;
}

nav.menu-lateral .linhas.ativo>.linha-2 {
    opacity: 0;
}

nav.menu-lateral .linhas.ativo>.linha-3 {
    transform: rotate(-45deg) translate(30%);
    width: 35px;
}

nav.menu-lateral ul {
    height: 100%;
    list-style-type: none;
}

nav.menu-lateral ul li.ativo a {
    background-color: var(--cor-destaque);
}

nav.menu-lateral ul li.item-menu a {
    color: var(--cor-negrito);
    text-decoration: none;
    font-size: 22px;
    margin: 30px 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: .5s;
}

nav.menu-lateral ul li.item-menu:hover a {
    background-color: var(--cor-destaque);
}

nav.menu-lateral ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir ul li.item-menu a .txt-link {
    margin-left: 40px;
    opacity: 1;
}

nav.menu-lateral ul li.item-menu a .icon>i {
    font-size: 30px;
}

/*Menu de Navegação Mobile*/
aside {
    height: 0px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.navegacao {
    width: 100%;
    height: 70px;
    background-color: var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navegacao ul {
    width: 350px;
    display: flex;
    justify-content: center;
}

.navegacao ul li {
    width: 70px;
    height: 70px;
    list-style-type: none;
    position: relative;
    z-index: 1;
}

.navegacao ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}

.navegacao ul li a .icone {
    display: block;
    line-height: 75px;
    font-size: 25px;
    color: var(--cor-negrito);
    position: relative;
    transition: .5s;
}

.navegacao ul li.ativo a .icone {
    transform: translateY(-35px);
}

.navegacao ul li a .texto {
    color: var(--cor-negrito);
    position: absolute;
    opacity: 0;
    transition: .5s;
    transform: translateY(20px);
}

.navegacao ul li.ativo a .texto {
    opacity: 1;
    transform: translateY(10px);
}

.indicador {
    width: 70px;
    height: 70px;
    background-color: var(--cor-destaque);
    border-radius: 50%;
    position: absolute;
    top: -50%;
    transition: .5s;
}

.navegacao ul li:nth-child(1).ativo~.indicador {
    transform: translateX(calc(-139px));
}

.navegacao ul li:nth-child(2).ativo~.indicador {
    transform: translateX(calc(-70px * 1));
}

.navegacao ul li:nth-child(3).ativo~.indicador {
    transform: translateX(calc(0px * 2));
}

.navegacao ul li:nth-child(4).ativo~.indicador {
    transform: translateX(calc(23px * 3));
}

.navegacao ul li:nth-child(5).ativo~.indicador {
    transform: translateX(calc(47px * 3));
}

/*Configuração da Página para Mobile*/
@media only screen and (max-width:730px) {
    /*Classes Globais*/
    .esp-lat-ext {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Página */
    body {
        height: auto;
        padding-bottom: 120px;
    }

    /* Container Principal */
    main {
        width: 95%;
        height: auto;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 120px;
    }

    /* Layout do FAQ */
    .info {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        gap: 25px;
        height: auto;
        width: 100%;
    }

    /* Perguntas */
    .faq .info .perguntas {
        width: 100%;
        height: auto;
    }

    .perguntas h1 {
        font-size: 26px;
        text-align: center;
        margin: 0 auto 15px auto;
    }

    .separador {
        height: auto;
        max-height: 300px;
        overflow-y: auto;
        padding-right: 10px;
    }

    summary {
        font-size: 16px;
        margin: 12px 0;
    }

    details p {
        font-size: 14px;
    }

    /* Imagem do FAQ */
    .faq .info img {
        width: 75%;
        max-height: 250px;
        object-fit: contain;
    }

    .wave {
        width: 150%;
        bottom: -10px;
    }

    .wave-text {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    /* Desativa Menu Lateral */
    nav.menu-lateral {
        width: 0px;
        opacity: 0;
    }

    /* Ativa Menu Mobile */
    aside {
        height: 105px;
    }

    /* Desaparece Elementos */
    .info img, .logo {
        display: none;
    }
}